@model List<Office>
@*
    This page display all the countries in the office database
*@
@{
    ViewData["Title"] = "Listing of All offices";
}
<div>
    <div class="row pt-4">
        <div class="col-9">
        <h2 class="text-success">View Every Offices</h2>
        </div>
        <div class="col-3">
            <a asp-controller="HeadOffice" asp-action="CreateOffice" class="btn btn-primary btn-lg">Add New Office</a>
        </div>
    </div>
</div>
<br />

<table class="table table-primary table-bordered table-hover table-striped"> 
    <thead>
        <tr>
            <th>Office ID</th>
            <th>Country</th>
            <th>Currency</th>
            <th>exchange to USD</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model){
            <tr>

                <td width="20%">@item.Country</td>
                <td width="20%">@item.Currency</td>
                <td width="10%">@item.Rate</td>
                <td width="20%">
                    <div class="w-100 bth-group" role="group">
                        <a asp-controller="HeadOffice" asp-action="UpdateOffice" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                        <a asp-controller="HeadOffice" asp-action="DeleteOffice" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                    </div>
                </td>
            </tr>
        }
     </tbody>
 </table>